# dependencies
node_modules/

# environment variables
.env
.env.local
.env.development
.env.test
.env.production

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# build files
dist/
build/

# cache
.cache/
.next/
out/

# IDE/editor
.vscode/
.idea/

# misc
coverage/
